@media screen and (max-width: 900px) {
  :root {
    --font-size-m: 16px;
    --font-size-l: 18px;
    --font-size-xl: 20px;
    --font-size-xxl: 24px;
  }
  body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
  }
  .navbar :where(#menu-close-button, #menu-open-button) {
    font-size: var(--font-size-xxl);
    display: block;
  }
  .navbar #menu-close-button {
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .navbar #menu-open-button {
    color: var(--white-color);
    margin-right: 20px;
  }
  .navbar .nav-menu {
    display: block;
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    transition: 0.3s ease;
  }
  body.show-mobile-menu .navbar .nav-menu {
    left: 0;
  }
  .navbar .nav-menu .nav-link {
    color: var(--dark-color);
    font-size: var(--font-size-l);
    display: block;
    margin-top: 17px;
  }
  /* hero section */
  .hero-section .section-content {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 30px 20px 20px;
    text-align: center;
    gap: 50px;
  }
  .hero-section .hero-details :is(.subtitle, .description) {
    max-width: 100%;
  }
  .hero-section .hero-details .buttons{
    justify-content: center;
  }
  .hero-section .hero-image-wrapper {
    max-width: 270px;
    margin-right: 0;
  }
}
