@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* colors */
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #3b141c;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;
  /* font size */
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 20px;
  --font-size-xl: 28px;
  --font-size-xxl: 34px;
  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  /* border radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;
  /* site max width */
  --site-max-width: 1300px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
img {
  width: 100%;
}
.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);
}
/* ========================== */
/* header section */
/* ========================== */
 .navbar :where(#menu-close-button, #menu-open-button){
    font-size: var(--font-size-xxl);
    display: none;
  }
header {
  background-color: var(--primary-color);
}
.navbar .nav-logo .logo {
  color: var(--white-color);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-semibold);
}
header .navbar {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.navbar .nav-menu {
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar .nav-menu .nav-link {
  color: var(--white-color);
  padding: 10px 18px;
  border-radius: var(--border-radius-m);
  font-size: var(--font-size-m);
  transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

/* ========================== */
/* main section */
/* ========================== */
.hero-section {
  background-color: var(--primary-color);
  min-height: 100vh;
}
.hero-section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  color: var(--white-color);
}
.hero-section .hero-details .title {
  font-size: var(--font-size-xxl);
  color: var(--secondary-color);
  font-family: "Miniver", sans-serif;
}
.hero-section .hero-details .subtitle {
  margin-top: 8px;
  max-width: 70%;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}
.hero-section .hero-details .description {
  max-width: 70%;
  margin: 24px 0 40px;
  font-size: var(--font-size-m);
}
.hero-section .hero-image-wrapper{
    max-width: 500px;
    margin-right: 30px;
}
.hero-section .hero-details .buttons{
    display: flex;
    gap: 23px;
}
.hero-section .hero-details .button{
    padding: 10px 26px;
    color: var(--primary-color);
    background: var(--secondary-color);
    border: 2px solid transparent;
    border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
}
.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us{
   color: var(--white-color);
   border-color: var(--white-color);
   background: transparent;
}